<script type="text/javascript" src="{{ context.STATIC_URL }}sprintf-0.7-beta1.js"></script>

<script type="text/javascript">
    var highest_loaded_id = 0;

    function init_flying_rows() {
        load_new_rows();
        setInterval(load_new_rows, 2000);
        setInterval(sort_rows, 2000);
    }

    function load_new_rows() {
        var request_data = {highest_loaded_id: highest_loaded_id,
                            module: '{{ table.module_name }}',
                            model: '{{ table.model_name }}',
                            columns_space_delimited: '{{ table.columns_space_delimited }}'
                           };
        $.get('{% url 'flying_rows.views.load_new_rows' %}', request_data, function(data, status) {
            for (var i in data) {
                highest_loaded_id = Math.max(highest_loaded_id, i);
                prepend_row(data[i]);
            }
        })
    }

    function sort_rows() {
        // TODO: go to server, sort id by fields, rearrange rows
    }

    function prepend_row(row) { <!-- add new row from json data -->
        var html_code = new Array(0);
        {% for column in table.columns %}
        html_code.push(sprintf('<td><span id="datacell_%(id)s_{{ column.name }}" {% if column.config.editable %}class="editable" contenteditable="true"{% endif %} data-row-id="%(id)s" data-field-name="{{ column.name }}">%({{ column.name }})s</span></td>', row));
        {% endfor %}
        html_code = '<tr>' + html_code.join('\n') + '<tr>';
        $("#data").prepend(html_code);
        {% for column in table.columns %}
            $(sprintf("#datacell_%(id)s_{{ column.name }}", row)).bind('keydown', edit_keydown_handler);
        {% endfor %}
        var ids = new Array(0);
        {% for column in table.columns %}
            ids.push(sprintf('datacell_%(id)s_{{ column.name }}', row));
        {% endfor %}
    }

    function addnew_keydown_handler(eventObj) {
        if (eventObj.keyCode == 13) {
            var next_element = $(this).parent().next().children();
            if (next_element.length == 1) {
                next_element.focus();
            } else {
                var request_data = {module: '{{ table.module_name }}',
                                    model: '{{ table.model_name }}',
                                    columns_space_delimited: '{{ table.columns_space_delimited }}'
                                   };
            {% for column in table.columns %}
                request_data["{{ column.name }}"] = $('#inputcell_{{ column.name }}').val();
            {% endfor %}
                $.post("{% url 'flying_rows.views.add_new_row' %}", request_data, function(data, status) {
                    if (data.success) {
                        info('Новая строка успешно сохранена');
                        {% for column in table.columns  %}
                            $('#inputcell_{{ column.name }}').val('');
                        {% endfor %}
                        $("#inputcell_{{ table.initial_focus }}").focus();
                    } else {
                        error("Некорректное значение: " + data.error_message);
                    }
                }).fail(function(data, status) {
                    alert("Не удалось обратиться к серверу");
                    alert(data.keys);
                    alert(status);
                });
            }
        }
    }

    function edit_keydown_handler(eventObj) {
        if (eventObj.keyCode == 13 || eventObj.keyCode == 9) {
            eventObj.preventDefault();
            eventObj.stopImmediatePropagation();
            var request_data = {module: '{{ table.module_name }}',
                                model: '{{ table.model_name }}'};
            request_data["row_id"] = $(this).attr('data-row-id');
            request_data["field_name"] = $(this).attr('data-field-name');
            request_data["new_field_value"] = $(this).text();
            id = $(this).attr('id');
            var result = $.post("{% url 'flying_rows.views.update_field' %}", request_data, function(data,  status) {
                if (data.success) {
                    $("#" + id).text(data.value);
                    info("Значение сохранено");
                    var next_element = $('#' + id).parent().next().children();
                    if (next_element.length == 1) {
                        next_element.focus();
                    }
                } else {
                    error("Некорректное значение: " + data.error_message);
                    $(this).text(data.value);
                }
            }).fail(function(data, status){
                        alert("Не удалось обратиться к серверу!");
                    });
        }
        eventObj.stopImmediatePropagation();
    }

    function debug_append(s) {
        $('#debug').append('<br>' + s);
    }

    function error(s) {
        $("#info_field").text('');
        $("#error_field").text(s);
    }

    function info(s) {
        $('#error_field').text('');
        $('#info_field').text(s);
    }

    $(document).ready(init_flying_rows);
</script>

{% if table.config.meta.enable_search %}
    <div id="search">
    </div>
{% endif %}

<div id="info_field" style="color: green">
</div>

<div id="error_field" style="color: red">
</div>

<table width="100%" id="data_table">
    <colgroup>
        {% for column in table.columns %}
            <col width="{{ column.width }}">
        {% endfor %}
    </colgroup>
    <thead>
        {% for column in table.columns %}
            <th> {{ column.verbose_name }} </th>
        {% endfor %}
    </thead>

    {% block table-body %}
    <tbody>
        {% if table.config.meta.enable_add_new %}
            <tr id="add_new_row">
                {% for column in table.columns %}
                    <td>
                        <input type="text" id="inputcell_{{ column.name }}" class="editable" autocomplete="off" style="margin-bottom: 0" data-name="{{ column.name }}">
                    </td>
                {% endfor %}
            </tr>
        <script type="text/javascript">
            $("#add_new_row input:text").bind('keydown', addnew_keydown_handler);
        </script>
        {% endif %}
    </tbody>
    <tbody id="data">
    </tbody>
    {% endblock %}
</table>

<footer id="debug">
</footer>