<link rel="stylesheet" href="{{ context.STATIC_URL }}/flying-rows.css">

<script src="{{ context.STATIC_URL }}/react-0.12.2.js"></script>
<script src="{{ context.STATIC_URL }}/JSXTransformer-0.12.2.js"></script>
<script src="{{ context.STATIC_URL }}/jquery.hotkeys.js"></script>

<div id="search"></div>
<div id="error_field"></div> <!-- do not use single tag here, React has a problem rendering it -->
<div id="table"></div>

<script type="text/jsx">
  var config = {
    autocomplete_url: '{% url 'flying_rows.views.load_autocomplete_choices' %}',
    add_new_row_url: '{% url 'flying_rows.views.add_new_row' %}',
    load_new_rows_url: '{% url 'flying_rows.views.load_new_rows' %}',
    update_cell_url: '{% url 'flying_rows.views.update_field' %}',
    load_new_transactions_url: '{% url 'flying_rows.views.load_transactions' %}',
    search_hints_url: '{% url 'flying_rows.views.get_search_hints' %}',
    search_url: '{% url 'flying_rows.views.search' %}',
    merge_url: '{% url 'flying_rows.views.merge' %}',
    model: '{{ table.model_name }}',
    module: '{{ table.module_name }}',
    table_name: '{{ table_name }}',
    search_fields: {{ search_fields }},
    focus_policy_after_add: '{{ focus_policy_after_add }}',
    focus_policy_after_change: '{{ focus_policy_after_change }}',
    enable_add_new: {{ enable_add_new }},
    selectable_rows: {{ selectable_rows }},
    initial_focus_after_search: '{{ initial_focus_after_search }}'
  };
  config.columns = {{ table_columns_config }};

  $(document).bind('keydown', 'esc', focusOnSearch);
  $(document).bind('keydown', 'home', focusOnSearch);

  if (config.table_name == "school") {
    // TODO: move it to server-side config
    $(document).bind('keydown', 'ctrl+shift+s', function() {
      table.sortRows('nominative');
    });
    $(document).bind('keydown', 'ctrl+shift+m', function() {
      table.mergeRows();
    });
    $(document).bind('keydown', 'ctrl+shift+u', function() {
      table.mergeRows();
    });
  }


  function getColumnConfig(columnName) {
    for (var i in config.columns) {
      if (config.columns[i].name == columnName) {
        return config.columns[i];
      }
    }
  }

  if (config.table_name == "registration") {
    getColumnConfig('test_number').validation = function(cell, row) {
      if (cell.length == 0) {
        return true;
      }
      if (cell.length != 6) {
        return false;
      }
      if ((+cell[0] + +cell[1] + +cell[2] + +cell[3]) % 10 != (+cell[4])) {
        return false;
      }
      if ((+cell[0] + 3 * (+cell[1]) + 7 * (+cell[2]) + 9 * (+ cell[3])) % 10 != (+cell[5])) {
        return false;
      }
      return true;
    }
  }

  if (config.table_name == "results") {
    getColumnConfig('sum').validation = function(cell, row) {
      var sum = +row.points_1 + +row.points_2a + +row.points_2b + +row.points_3 + +row.points_4 + +row.points_5 + +row.points_6;
      return row.sum == sum;
    }
    var validateIntField = function(cell, row) {
      if (cell == "") {
        return true;
      }
      var er = /^-?[0-9]+$/;
      return er.test(cell);
    }
    getColumnConfig('points_1').validation = validateIntField;
    getColumnConfig('points_2a').validation = validateIntField;
    getColumnConfig('points_2b').validation = validateIntField;
    getColumnConfig('points_3').validation = validateIntField;
    getColumnConfig('points_4').validation = validateIntField;
    getColumnConfig('points_5').validation = validateIntField;
    getColumnConfig('points_6').validation = validateIntField;
  }

  var lastTransactionId = {{ last_transaction_id }};

  function loadNewTransactions() {
    $.ajax({
      url: config.load_new_transactions_url,
      method: 'GET',
      data: addDefaultParams({
        last_transaction_id: lastTransactionId
      }),
      success: function(data) {
        for (i in data) {
          var item = data[i];
          lastTransactionId = Math.max(lastTransactionId, item.id);
          table.changeCellValue(item.rowId, item.column, item.value, false);
        }
      }
    })
  }
  setInterval(loadNewTransactions, 10000);

  function addDefaultParams(data) {
    var newData = {};
    for (key in data) {
      newData[key] = data[key];
    }
    newData['model'] = config['model'];
    newData['module'] = config['module'];
    newData['author'] = localStorage.getItem('author');
    return newData;
  }

  function columnNames() {
    var result = [];
    for (i in config.columns) {
      result.push(config.columns[i].name);
    }
    return result;
  }

  function firstColumnName(){
    return config.columns[0].name;
  }

  function getCellId(rowId, columnName) {
    return "cell_" + rowId + "_" + columnName; // keep this in sync with Cell/Row classes
  }

  function getInputCellId(columnName) {
    return 'input_cell_' + columnName; // keep this in sync with InputCell/InputRow classes
  }

  function focusOnCell(rowId, columnName) {
    $("#" + getCellId(rowId, columnName)).focus();
    $("#" + getCellId(rowId, columnName)).select();
  }

  function focusOnRow(rowId) {
    focusOnCell(rowId, this.firstColumnName());
  }

  function focusOnInputRow() {
      $("#" + getInputCellId(firstColumnName())).focus()
  }

  function focusOnSearch() {
    if (document.activeElement.id.substr(0, 11) != "input_cell_") {
      $("#search-field").focus();
      $("#search-field").select();
    }
  }

  var Table = React.createClass({
    getInitialState: function() {
      return {
        data: this.props.initialData.data,
        rows: this.props.initialData.rows,
        reactRows: [] // this is a dirty trick to get access to children
      }
    },

    sortRows: function(columnName) {
      var rows = jQuery.extend([], this.state.rows);
      var old_this = this;
      rows.sort(function(a, b) {
        return old_this.state.data[a][columnName].localeCompare(old_this.state.data[b][columnName]);
      });
      this.setState({
        rows: rows
      });
    },

    mergeRows: function() {
      console.log("Here");
      columnName = "nominative"; // THIS IS A CRUTCH
      var selectedIds = [];
      var selectedNames = [];
      var otherIds = [];
      for (var i in this.state.reactRows) {
        var row = this.state.reactRows[i];
        if (row.state.selected) {
          selectedIds.push(row.props.rowId);
          selectedNames.push(row.props.data[columnName]);
        } else {
          otherIds.push(row.props.rowId);
        }
      }
      if (selectedNames.length == 0) {
        return;
      }
      var message = prompt('Объединить следующие значения:\n' + selectedNames.join('\n') + '? \n (пустая строка отменит операцию)', selectedNames[0]).trim();
      if (message == "") {
        return;
      }
      $.ajax({
        url: config.merge_url,
        method: 'POST',
        data: addDefaultParams({
          merged_ids: JSON.stringify(selectedIds),
          new_values: JSON.stringify({nominative: message})
        })
      });
      this.setState({
        rows: otherIds
      })
    },

    highestLoadedId: function() {
      if (this.state.rows.length == 0) {
        return -1;
      }
      return Math.max.apply(-1, this.state.rows);
    },

    addRow: function(rowId, rowData) {
      var data = jQuery.extend({}, this.state.data);
      data[rowId] = rowData;
      this.setState({
        rows: [rowId].concat(this.state.rows),
        data: data
      })
    },

    addRows: function(newRows) {
      var newRowIds = [];
      for (i in newRows) {
        newRowIds.push(newRows[i].id);
      }
      var rows = newRowIds.concat(this.state.rows);
      var data = this.state.data;
      for (i in newRows) {
        data[newRows[i].id] = newRows[i].data;
      }
      this.setState({
        rows: rows,
        data: data
      })
    },

    nextColumn: function(columnName) {
      var columns = this.props.config.columns;
      for (i = 0; i < columns.length; ++i) {
        if (columns[i].name == columnName) {
          if (i + 1 == columns.length) {
            return "_newline";
          }
          return columns[i + 1].name;
        }
      }
      return undefined;
    },

    prevColumn: function(columnName) {
      var columns = this.props.config.columns;
      for (i = 1; i < columns.length; ++i) {
        if (columns[i].name == columnName) {
          return columns[i - 1].name;
        }
      }
      return undefined;
    },

    changeCellValue: function(rowId, columnName, value, commit) {
      var data = jQuery.extend({}, this.state.data);
      var oldValue = data[rowId][columnName];
      if (value == oldValue) {
        return;
      }
      if (commit) {
        localChangesManager.addChange(rowId, columnName, value, oldValue);
      }
      data[rowId] = jQuery.extend({}, data[rowId]);
      data[rowId][columnName] = value;
      this.setState({
        rows: this.state.rows,
        data: data
      })
    },

    render: function () {
      var columnNames = this.props.config.columns.map(function(column) {
        return column['name'];
      })
      var changeCellValue = this.changeCellValue;

      var old_this = this;
      var rowNodes = this.state.rows.map(function(rowId) {
        return (
          <Row
            key={'row_' + rowId}
            data={old_this.state.data[rowId]}
            rowId={rowId}
            config={config}
            columns={columnNames}
            handleCellChange={changeCellValue}
            nextColumn={old_this.nextColumn}
            prevColumn={old_this.prevColumn}
            table={old_this}
          />
        );
      });

      var totalWeight = 0;
      this.props.config.columns.map(function(column) {
        totalWeight += column.weight;
      })
      var columnsWidthDeclaration = this.props.config.columns.map(function(column) {
        return (
          <col key={"colgroup_" + column.name} width={(column.weight / totalWeight * 100).toFixed(5) + "%"}/>
        );
      })

      var tableHeader = this.props.config.columns.map(function(column) {
        return (
          <td key={"head_" + column.name}>{column.display_name}</td>
        );
      });

      var inputNodes = [];
      if (config.enable_add_new) {
        inputNodes = <InputRow
          config={config}
          nextColumn={this.nextColumn}
          prevColumn={this.prevColumn}/>
      }

      return (
        <table width={"100%"}>
          <colgroup>
            {columnsWidthDeclaration}
          </colgroup>
          <thead>
            {tableHeader}
          </thead>
          <tbody>
            {inputNodes}
            {rowNodes}
          </tbody>
        </table>
      );
    }
  });

  var Row = React.createClass({
    getInitialState: function() {
      // this is a dirty trick to get access to parent,
      // no need to call setState, cause no rerendering is needed
      this.props.table.state.reactRows.push(this);

      return {selected: false};
    },
    shouldComponentUpdate: function(nextProps, nextState) {
      return this.props.data != nextProps.data || this.state != nextState;
    },

    onClickCapture: function() {
      if (config.selectable_rows) {
        this.setState({selected: !this.state.selected});
      }
    },

    render: function() {
      var props = this.props;

      var cellNodes = this.props.config.columns.map(function(column) {
        return (
          <Cell
            key={"cell_" + column.name}
            columnName={column.name}
            rowId={props.rowId}
            data={props.data[column.name]}
            handleCellChange={props.handleCellChange}
            nextColumn={props.nextColumn}
            prevColumn={props.prevColumn}
            column={column}
            config={props.config}/>
        );
      })

      var style = {};

      if (this.state.selected) {
        style['backgroundColor'] = 'red';
      }

      return (
        <tr onClick={this.onClickCapture} style={style}>
          {cellNodes}
        </tr>
      )
    }
  });

  var Cell = React.createClass({
    getId: function(columnName) {
      return "cell_" + this.props.rowId + "_" + columnName;
    },

    getInitialState: function() {
      return {data: [], status: "ok"}
    },

    onKeyDownCapture: function(event) {
      if (jQuery.isNumeric(event.key) && this.props.columnName.substr(0, 6) == "points") {
	event.stopPropagation();
	event.preventDefault();
	

	var newValue = event.key;
	// insert value into cell	
	this.props.handleCellChange(
	  this.props.rowId,
	  this.props.columnName,
	  newValue,
	  true
	);

	// focus on the next column
	var nextColumnName = this.props.nextColumn(this.props.columnName);
	$("#" + this.getId(nextColumnName)).focus();
      } 

      else if (event.key == "Tab" || event.key == "Enter" || event.key == "Home" || event.key == "Escape") {
        event.stopPropagation();
        event.preventDefault();

        var rowData = {};
        for (var i in this.props.config.columns) {
          var column = this.props.config.columns[i];
          rowData[column.name] = $("#" + this.getId(column.name)).text().trim();
        }
        var thisValue = $("#" + this.getId(this.props.columnName)).text().trim();
        console.log(event.key);

        if (this.props.column.validation !== undefined) {
          if (!this.props.column.validation(thisValue, rowData)) {
            this.setState({status: "error"});
            return;
          }
        }
        var newValue = event.target.textContent.trim();
        if (newValue == "") {
          newValue = this.props.column.default_value;
        }
        this.setState({status: "ok"});
        this.props.handleCellChange(
          this.props.rowId,
          this.props.columnName,
          newValue,
          true /* add to localChangesManager */
        );
        if (event.key == "Home" || event.key == "Escape") {
          focusOnSearch();
          return;
        }
        var nextColumnName;
        if (!event.shiftKey) {
          nextColumnName = this.props.nextColumn(this.props.columnName);
        } else {
          nextColumnName = this.props.prevColumn(this.props.columnName);
        }
        if (nextColumnName != undefined && nextColumnName[0] != '_') {
          // focus on next column
          $("#" + this.getId(nextColumnName)).focus();
        }
        if (nextColumnName == '_newline') {
          if (config.focus_policy_after_change == 'add') {
            focusOnInputRow();
          }
          if (config.focus_policy_after_change == 'search') {
            focusOnSearch();
          }
        }
      }
      else if (event.keyCode == 106 && event.shiftKey) {
        event.stopPropagation();
        event.preventDefault();

        var currentColumnName = this.props.columnName;
        while (currentColumnName[0] != '_' && currentColumnName != undefined) {
          if (currentColumnName.substr(0, 7) == 'points_') {
            $("#" + this.getId(currentColumnName)).text('0');
	    this.pushZeroToCell(this.props.handleCellChange, 
                                this.props.rowId,
                                currentColumnName);
          }
          else if (currentColumnName == 'sum') {
            $('#' + this.getId(currentColumnName)).focus();
          }
          currentColumnName = this.props.nextColumn(currentColumnName);
	}
      }
    },

    pushZeroToCell: function(handleCellChange, rowId, columnName) {
      // pushing handle to the end of stack
      // (doesn't work otherwise for some reason)
      setTimeout(function() {handleCellChange(
        rowId, columnName, '0', true);
        console.log('pushed', rowId, columnName, 0);
      }, 100);
    },
    
    onFocusCapture: function(event) {
      // need to change true in future
      if(true/*this.props.columnName.substr(0, 6) == "points"*/) {
        var range = document.createRange();
	range.selectNodeContents(document.getElementById(event.target.id));
        var sel = window.getSelection();
        sel.removeAllRanges();
        sel.addRange(range);
	console.log("selected all in " + event.target.id);
      }
    },


    render: function() {
      var props = this.props;
      var style = {};
      if (this.state.status != "ok") {
        style.backgroundColor = "red";
      }
      return (
        <td style={style}>
          <span id={this.getId(props.columnName)} contentEditable={true} onKeyDown={this.onKeyDownCapture} onFocus={this.onFocusCapture}>
            {this.props.data}
          </span>
        </td>
      );
    }
  });

  var InputRow = React.createClass({
    getInitialState: function() {
      var data = {};
      for (i in this.props.config.columns) {
        data[this.props.config.columns[i].name] = '';
      }
      return {data: data};
    },

    handleInput: function(columnName, value) {
      var data = jQuery.extend(true, {}, this.state.data);
      data[columnName] = value;
      this.setState({data: data});
    },

    getInputCellId: function(columnName) {
      return 'input_cell_' + columnName;
    },

    submit: function() {
      var data = this.state.data;

      $.ajax({
        url: this.props.config.add_new_row_url,
        method: 'POST',
        data: addDefaultParams({
          model: this.props.config.model,
          module: this.props.config.module,
          data: JSON.stringify(data)
        }),
        success: function(data) {
          if (!data.success) {
            errorField.error(data.error_message)
          } else {
            loadNewRows();
          }
        },
        error: function() {
          errorField.error('Failed to connect to server');
        }
      });

      for (i in this.props.config.columns) {
        var column = this.props.config.columns[i].name;
        data[column] = '';
        $("#" + this.getInputCellId(column)).val("");
      }
      this.setState({data: data});
      this.forceUpdate();
      if (config.focus_policy_after_add == 'add') {
        focusOnInputRow();
      }
      if (config.focus_policy_after_add == 'search') {
        focusOnSearch();
      }
    },

    shouldComponentUpdate: function() {
      return false;
    },

    render: function() {
      var props = this.props;

      var old_this = this;

      var inputCells = this.props.config.columns.map(function(column) {
        return (
          <InputCell
            key={'input_cell_' + column.name}
            nextColumn={props.nextColumn}
            config={props.config}
            prevColumn={props.prevColumn}
            handleInput={old_this.handleInput}
            columnName={column.name}
            submit={old_this.submit}
            getInputCellId={old_this.getInputCellId}/>
        )
      })

      return (
        <tr>
          {inputCells}
        </tr>
      )
    }
  })

  var InputCell = React.createClass({
    getId: function() {
      return this.props.getInputCellId(this.props.columnName);
    },

    componentDidMount: function() {
      this.loadAutocompleteChoices();
      setInterval(this.loadAutocompleteChoices, 20 * 1000)
    },

    shouldComponentUpdate: function() {
      return false;
    },

    loadAutocompleteChoices: function() {
      var old_this = this;
      if (this.props.config.autocomplete_url) {
        $.get(
          this.props.config.autocomplete_url,
          {
            model: this.props.config.model,
            module: this.props.config.module,
            column: this.props.columnName
          },
          function(data) {
            $(function() {
              ($("#" + old_this.getId())).autocomplete({
                source: data,
                delay: 0,
                minLength: 2,
                autoFocus: true
              });
            })
          }
        )
      }

    },

    sync: function() {
      columnName = this.props.columnName;
      this.props.handleInput(columnName, $("#" + this.getId())[0].value.trim());
    },

    onKeyDownCapture: function(event) {
      if (event.key == "Enter" || event.key == "Tab") {
        event.stopPropagation();
        event.preventDefault();

        if (!event.shiftKey) {
          nextColumnName = this.props.nextColumn(this.props.columnName);
        } else {
          nextColumnName = this.props.prevColumn(this.props.columnName);
        }

        if (nextColumnName != undefined && nextColumnName[0] != "_") {
          $("#" + this.props.getInputCellId(nextColumnName)).focus();
          $("#" + this.props.getInputCellId(nextColumnName)).select();
        } else if (nextColumnName == "_newline") {
          this.props.submit();
        }
      }
      if (event.key == "Home" || event.key == "Escape") {
        focusOnSearch();
      }
    },

    render: function() {
      return (
        <td>
          <input
            type="text"
            id={this.getId()}
            onKeyDown={this.onKeyDownCapture}
            onKeyUp={this.sync}/>
        </td>
      );
    }
  });

  var ErrorField = React.createClass({
    getInitialState: function() {
      return {error_message: ''};
    },
    ok: function() {
      this.setState({error_message: ''})
    },
    error: function(message) {
      this.setState({error_message: message});
    },
    render: function() {
      return (
        <span style={ {color: "red", "marginBottom": "0.5em"} }>
          {this.state.error_message}
        </span>
      )
    }
  });

  var LocalChange = React.createClass({
    removeChange: function() {
      this.props.localChangesManager.removeChange(this.props.change);
    },

    render: function() {
      return (
        <div className={"local-changes-item local-changes-item-" + this.props.change.status}>
          <table>
            <tr>
              <td><input type="button" value="Удалить" onClick={this.removeChange.bind(this)} /></td>
              <th>{this.props.change.column}</th>
            </tr>
            <tr>
              <th>{this.props.change.rowId}</th>
              <td><s>{this.props.change.oldValue}</s>{this.props.change.newValue}</td>
            </tr>
          </table>
        </div>
      )
    }
  });

  var LocalChangesManager = React.createClass({
    getInitialState: function() {
      return { changes: JSON.parse(localStorage.getItem(this.localStorageName())) || [] };
    },
    localStorageName: function() {
      return "localChanges_" + config.table_name;
    },
    secureSetState: function(state) {
      localStorage.setItem(this.localStorageName(), JSON.stringify(state.changes));
      this.setState(state);
    },
    addChange: function(rowId, columnName, newValue, oldValue) {
      var change = {
        rowId: rowId,
        column: columnName,
        newValue: newValue,
        oldValue: oldValue,
        status: "new"
      };

      var changes = [change];
      for (i in this.state.changes) {
        var oldChange = this.state.changes[i];
        if (oldChange.rowId != change.rowId || oldChange.column != change.column) {
          changes.push(oldChange);
        }
      }
      this.secureSetState({changes: changes});
    },
    setError: function(rowId, columnName) {
      var changes = [];
      for (i in this.state.changes) {
        var oldChange = this.state.changes[i];
        if (oldChange.rowId == rowId && oldChange.column == columnName) {
          oldChange.status = "error";
        }
        changes.push(oldChange);
      }
      this.secureSetState({changes: changes});
    },
    removeChange: function(change) {
      var changes = [];
      for (var i in this.state.changes) {
        var oldChange = this.state.changes[i];
        if (oldChange !== change) {
          changes.push(oldChange);
        }
      }
      this.secureSetState({changes: changes});
    },
    submitChange: function(change) {
      if (change.status != 'new') {
        return;
      }
      var old_this = this;
      $.ajax({
        url: this.props.config.update_cell_url,
        method: 'POST',
        data: addDefaultParams({
          row_id: change.rowId,
          column: change.column,
          oldValue: change.oldValue,
          value: change.newValue
        }),
        success: function(data){
          if (data.success) {
            table.changeCellValue(change.rowId, change.column, data.value, false);
            old_this.removeChange(change);
          } else {
            old_this.setError(change.rowId, change.column);
          }
        }
      })
    },
    submitChanges: function() {
      for (i in this.state.changes) {
        this.submitChange(this.state.changes[i]);
      }
      loadNewTransactions();
    },
    render: function() {
      var self = this;
      var localChanges = this.state.changes.map(function(change){
        return (
          <LocalChange
            key={"local_change_"+change.rowId+"_"+change.column}
            change={change}
            localChangesManager={self}
          />
        )
      });
      return (
        <div className="menu">
          <h5>Локальные изменения</h5>
          <div className="local-changes">
            {localChanges}
          </div>
        </div>
      )
    }
  });

  var SearchField = React.createClass({
    render: function() {
      return (
        <input
          width={"100%"}
          type={"text"}
          id={this.getId()}
          onKeyDown={this.onKeyDownCapture}
        />
      );
    },
    getId: function() {
      return "search-field";
    },
    loadSuggest: function() {
      var old_this = this;
      $.ajax({
        url: config.search_hints_url,
        method: 'GET',
        data: addDefaultParams({
          search_fields: JSON.stringify(config.search_fields)
        }),
        success: function(data){
           $(function() {
              ($("#" + old_this.getId())).autocomplete({
                source: data,
                delay: 0,
                minLength: 2,
                autoFocus: true
              });
            })
        }
      })
    },
    componentDidMount: function() {
      this.loadSuggest();
      setInterval(this.loadSuggest, 120000);
    },

    onKeyDownCapture: function(event) {
      if (event.key == "Enter" || event.key == "Tab") {
        event.preventDefault();
        event.stopPropagation();
        this.search($("#" + this.getId())[0].value);
      }
    },
    search: function(value) {
      errorField.ok();
      var targetRow = value.match(/id(\d+)/)[1];
      if (!targetRow) {
        $.ajax({
          url: config.search_url,
          method: 'GET',
          data: addDefaultParams({
            search_fields: JSON.stringify(config.search_fields),
            search_value: value
          }),
          success: function(data) {
            if (data.success) {
              if (config.initial_focus_after_search != '') {
                focusOnCell(data.row_id, config.initial_focus_after_search);
              } else {
                focusOnRow(data.row_id);
              }
            } else {
              errorField.error(data.error_message);
            }
          }
        });
      } else {
        if (config.initial_focus_after_search != '') {
          focusOnCell(targetRow, config.initial_focus_after_search);
        } else {
          focusOnRow(targetRow);
        }
      }
    }
  });

  function loadNewRows() {
    $.ajax({
      url: config.load_new_rows_url,
      method: 'GET',
      data: addDefaultParams({
        highest_loaded_id: table.highestLoadedId(),
        columns: JSON.stringify(columnNames())
      }),
      success: function(data) {
        table.addRows(data);
      },
      error: function() {
      }
    })
  }

  var initialTableData = {{ table_data }};

  var localChangesManager = React.render(
    <LocalChangesManager config={config}/>,
    document.getElementById('local-changes-manager')
  );

  var search = React.render(
    <SearchField/>,
    document.getElementById("search")
  )

  var table = React.render(
    <Table tableName="table1" config={config} initialData={initialTableData}/>,
    document.getElementById('table'));

  var errorField = React.render(
    <ErrorField/>,
    document.getElementById("error_field"));

  setInterval(localChangesManager.submitChanges, 1000);

  setInterval(loadNewRows, 5000);
</script>
