.-contains-wrong-value {
    font-weight: bold;
    color: red;
}

.message-field {

}

.message-field__error {
    background-color: red;
    color: white;
}


.message-field__success {
    background-color: green;
    color: white;
}

.-is-faded-out {
    opacity: 0.6;
}
