{% extends 'base.html' %}

{% block title %}Все участники{% endblock %}


{% block content-title %}Границы дипломов{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <textarea name="bounds_config" style="width: 30em; height: 7em;">{{ bounds_config_raw }}</textarea>
        <button class="radius button" type="submit">Сохранить</button>
    </form>

    <div>
    {% for degree, number in degree_owners %}
        <div>{{ degree }}: {{ number }}</div>
    {% endfor %}
    </div>

    <br>

    <style type="text/css">
        th:not(:last-child), td:not(:last-child) {
            width: 3em;
        }
    </style>

    <div>
        <table>
            <thead>
                <th></th>
                {% for column in table.columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in table.rows %}
                    <tr>
                        <td><b>{{ row.name }}<b></td>
                        {% for value in row.data %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block upload-title %}Залить какой-то документ{% endblock %}
{% block no-upload-hint %}{% endblock %}
{% block upload-hint %}Подсказка{% endblock %}
