<html lang="ru">
    <head>
        <title>{% block title %}Матпраздник{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}foundation/stylesheets/foundation.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}foundation/stylesheets/app.css">

        <script src="{{ STATIC_URL }}foundation/javascripts/jquery.js"></script>
        <script src="{{ STATIC_URL }}foundation/javascripts/foundation.js"></script>
    </head>

    <body>
        <div class="row">
            <div class="twelve columns">
                <h3>Матпраздник: регистрация участников и ввод результатов</h3>
            </div>
        </div>
    </body>
</html>