{% extends 'base.html' %}
{% load render_table from flying_rows %}

{% block title %}Все участники{% endblock %}


{% block content-title %}Все участники{% endblock %}

{% block content %}
    {% render_table table %}
{% endblock %}

{% block upload-title %}Залить внешнюю базу регистрации школьников{% endblock %}
{% block upload-hint %}Все школьники, номера регистрации которых уже есть в нашей базе, не будут затронуты{% endblock %}

{% block download-title %}Скачать нашу базу регистрации школьников{% endblock %}